.benefits{
  position: relative;
  &__wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    // flex-direction: column;
    height: 70vh;
    @include respond(phone){
      height: 50vh;
    }
  }
  perspective: 1000px;
  &__text{
    // background: $gangajal-primary;
    width:80rem;
    padding: 5rem;
    margin-right: 10rem;
    // border-bottom-left-radius: 100px;
    @include respond(phone){
      margin-right: 1rem;
      padding: 1rem;
      padding-left: 8rem;
    }
    &_head{
      text-align: right;
       font-size: 3rem;
       text-transform: uppercase;
       margin-bottom: 2rem;
       color: $color-grey;
       font-weight: bold;
    }
    &_content{
      text-align: right;
       font-size: 1.5rem;
       margin-bottom: 3rem;
       color: $color-black;
       line-height: 1.5;
    }
  }
  &__img{
    position: absolute;
    left: 0;
    top:50%;
    transform: translateY(-50%);
    height: 50%;
  }
  &__svg{
    position: absolute;
    left:17%;
    transition: all .5s;
    border-radius: 50%;
    border: 5px solid $color-grey-dark-3;
    &:hover{
      transform: scale(1.1);
    }
    & img{
      height: 5rem;
      width: 5rem;
      padding: .5rem;
      @include respond(phone){
        height: 3rem;
        width: 3rem;
      }
    }
    &1{
       top: 22%;
       left: 16.5%;
       @include respond(phone){
         left: 1rem;
         top: 16rem;
       }
    }
    &2{
       top: 31.5%;
       left:16.7%;
       @include respond(phone){
         left: 1rem;
         top: 22rem;
       }
    }
    &3{
       top:45%;
       left:16.7%;
       @include respond(phone){
         left: 1rem;
         top: 28rem;
       }
    }
    &4{
       top: 59.5%;
       left:16.7%;
       @include respond(phone){
         left: 1rem;
         top: 34rem;
       }
    }
    &5{
       top: 69%;
       left:16.7%;
       @include respond(phone){
         left: 1rem;
         top: 40rem;
       }
    }
  }
}

.change1{
  animation: change1 .5s linear 1;
}
.change2{
  animation: change2 .5s linear 1;
}
.change3{
  animation: change3 .5s linear 1;
}
.change4{
  animation: change4 .5s linear 1;
}
.change5{
  animation: change5 .5s linear 1;
}

.selectedId2{
  border: 5px solid #3527a9;
}
