&__music{
    // display: none;
  &_toggler{
    z-index: 10000;
    position:fixed;
    right:5rem;
    top:5rem;
    font-size: 1rem;
    padding: 2rem;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    color:$color-exim-blue;
    border: 1px solid rgba($color-exim-blue,.3);
    cursor: pointer;
    // transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    &:hover{
       border: 1px solid rgba($color-exim-blue,.5);
       transform: scale(1.5);
    }
  }
}
