&__s1{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top,rgba(255,165,0,.3),$color-white);
  position: relative;
  &_img{
    z-index: 2;
    position: absolute;
    top: 2rem;
    left: 2rem;
    transition: all 1s;
    @include respond(phone){
      top: 2rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
