.page{
  height: 100vh;
  width: 100vw;
  // padding: 0 10vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-family: "Roboto", sans-serif;
  text-align: center;
  @include respond(phone){

  }
  // margin-top: 5rem;
  // z-index: 1000;
  &__head{
    font-size: 3rem;
    margin: 5rem 0;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    // flex-direction: column;
    flex-wrap: wrap;
    &_1{
       margin-bottom: 1rem;
       flex-basis: 100%;
       font-size: 2.5rem;
       font-weight: lighter;
    }
    &_2{
       color: $color-grey-dark-3;
       letter-spacing: 1.5px;
       animation: cahnge1 .5s linear;
    }
    @include respond(phone){
      font-size: 2rem;
      margin: 1rem 0;
    }
    &_span{
      animation: vib 5s linear infinite;
      animation-fill-mode: both;
      margin-left: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      text-decoration: none;
      color: $color-white;
      // padding: 5rem;
      height: 8rem;
      width:8rem;
      border-radius: 50%;
      background: rgba($color-lightblue, 1);
      transition: all .5s;
      z-index: 1000;
      position: relative;
      cursor:pointer;
      transition: all .4s;

      &:hover{
        box-shadow: 0 0 2rem rgba($color-black,.5);
      }
    }
  }
  font-weight: lighter;
  &__text{
    font-size: 1.5rem;
    width: 60rem;
    line-height: 2;
    @include respond(phone){
      font-size: 2rem;
      width: auto;
      padding: 2rem;
    }
  }
  &__pageUp{
     top:75%
  }
  &__pageDown{
     top:85%
  }
  // &0{
  //   background: url("https://images.unsplash.com/photo-1504997565900-67b8c1e70940?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
  // }
  // &1{
  //   background: url("https://images.unsplash.com/photo-1541424273754-31e974582772?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80");
  // }
  @import "./page0";
  @import "./page1";
}

@keyframes vib {
   0%{
     top : 0rem;
   }
   33%{
     top : -2rem;
   }
   66%{
     top : 2rem;
   }
   100%{
     top : 0rem;
   }
}
@keyframes page1 {
    from{
      transform: scaleX(1.05);
      opacity: 0;
    }to{
      transform: scaleX(1);
      opacity: 1;
    }
}
@keyframes page0 {
    from{
      transform: scaleX(1.05);
      opacity: 0;
    }to{
      transform: scaleX(1);
      opacity: 1;
    }
}

@keyframes page1 {
    from{
      transform: scaleX(1.05);
      opacity: 0;
    }to{
      transform: scaleX(1);
      opacity: 1;
    }
}
@keyframes page2 {
    from{
      transform: scaleX(1.05);
      opacity: 0;
    }to{
      transform: scaleX(1);
      opacity: 1;
    }
}
@keyframes page3 {
    from{
      transform: scaleX(1.05);
      opacity: 0;
    }to{
      transform: scaleX(1);
      opacity: 1;
    }
}

@keyframes page4 {
    from{
      transform: scaleX(1.05);
      opacity: 0;
    }to{
      transform: scaleX(1);
      opacity: 1;
    }
}
