.footer{
  margin-top: 10rem;
  min-height: 40vh;
  width: 100vw;
  // margin-left: -15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-family: "Roboto",sans-serif;
  background: $color-lightblue;
  border-top: 1px solid rgba($color-grey,.5);
  &__name{
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: $color-white;
    margin-bottom: 2rem;
    font-weight: bold;
    & > *{
      margin: 1rem;

    }
  }
  &__img{
    height: 4rem;
  }
  &__social{
    & a{
      color: $color-white;
      font-size: 3rem;
      margin: 1rem;
      margin-bottom: 5rem;
    }
  }
  &__links{
     display: flex;
     justify-content: center;
     align-items: center;
     & > a, & > span {
        color: $color-white;
        margin: 2rem .5rem;
        font-size: 1.2rem;
        text-transform:capitalize;
     }
  }
  &__copy{
    color: $color-grey;
    font-size: 1.2rem;
  }
}
