.social{
  position: fixed;
  z-index: 1000000;
  top: 40%;
  right: 6.5rem;
  // transform: translateY(-50%);
  display: flex;
  flex-flow: column;
  &__item{
    margin-bottom: 5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    & i{
      color:$color-exim-blue;
    }
  }
}
